@font-face {
  font-family: "Heroes Legend";
  src: url("/static/font/Heroes Legend.ttf");
}

/* BLOC MENU */

.container{
    font-family: Blippo, fantasy;
}

/* BLOC HEADER/ACCUEIL */

header .row:nth-child(1) .col-sm-5 img{
    max-height: 80vh !important;
    display: inline-block;
    margin-top: 12vh;
}

header{
    text-align: center;
    height: 100%;
}

header .row{
    background-color: rgba(184, 134, 11,0.7);
    height: 100vh;
    width: 100vw;
}

header .row:nth-child(1) .col-sm-7 h1{
    width: 100%;
    margin-top: 50vh;
    margin-bottom: 50vh;
    font-family: "Heroes Legend";
}


@media screen and (max-width: 768px){
    header img{
        width: 30vw;
        display: none;
        margin-top: 0 !important;
    }

    header .row:nth-child(1) .col-sm-7 h1 {
        margin-top: 36vh;
        margin-bottom: 8vh;
    }
}

/* BLOC STORY */

.story{
    width: 100%;
}

.story .row{
    height: 70vh;
    text-align: center;
    background-color: rgba(55, 165, 161,0.5);
    width: 100vw;
}

.story .row .col-sm-12{
    width: 80vw;
    text-align: center;
    margin-left: 10vw;
}

.story .row .col-sm-12:nth-child(1){
    font-family: "Heroes Legend";
}

.story .row .col-sm-12:nth-child(1) h2{
    line-height: 4;
}

/***************************************************/
/* BUG BLOC/SECTION SE CHEVAUCHE QUAND ECRAN PETIT */
/***************************************************/

/* BLOC SCREENSHOTS */

.screen .row .col-md-8 h2{
    font-family: "Heroes Legend";
    line-height: 6;
}

.screen .row{
    height: 100vh;
    width: 100%;
}

.screen .row:nth-child(1) img{
    max-height: 60vh;
    margin-top: 30vh;
    transform: translateY(-50%);
}

.screen .row:nth-child(1) img:nth-child(1){
    padding-right: 10px;
}

@media screen and (max-width: 1375px){
    .screen .row{
        height: auto;
    }
}

/* BLOC TELECHARGEMENT */

.download .row{
    background-color: rgba(50, 160, 40,0.7);
    height: 100vh;
    width: 100vw;
}

.download .row .col-md-8 h2{
    font-family: "Heroes Legend";
    margin-top: -2vh;
    margin-bottom: 5vh;
}

.download .row .col-md-8{
    margin-top: 12vh;
}

.download .row .col-md-8 img{
    margin-top: 12vh;
}

/* BLOC FOOTER */

footer{
    text-align: center;
     background-color: rgba(10, 10, 10,0.2);
}
