<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="description" content="CRpg, le jeu RPG qui va vous redonner envie de jouer à l'ancienne !">
    <meta name="author" content="HUGUET Thibaut">

    <title>CRpg - Jeu indépendant</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="static/lib/font-awesome/css/font-awesome.min.css">

    <!-- Theme CSS -->
    <link href="static/css/style-CRpg.css" rel="stylesheet">

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Accueil</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#story">Histoire</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#screen">Screenshots</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Téléchargement</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<!-- Header accueil -->
    <header>
        <div class="row">
            <div class="col-sm-7">
                <h1>CRpg, le jeu RPG à l'ancienne !</h1>
                <!--<a href="#download" class="btn btn-outline btn-xl page-scroll">Téléchargement !</a> -->
            </div>

            <div class="col-sm-5">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="static/img/demo-screen-1.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </header>

<!-- Description Histoire du jeu -->
    <section id="story" class="story">
        <div class="row">
            <div class="col-sm-12">
                <h2>STORY</h2>
            </div>

            <div class="col-sm-12">
                <h2>Un peu d'histoire ..</h2>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor sed lacus a mollis. Morbi imperdiet purus sem. Nulla eget molestie lorem. Fusce quis posuere tortor, et maximus nisi. Integer feugiat augue non lorem maximus, nec suscipit erat ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id facilisis magna, ut faucibus orci. Quisque interdum vehicula orci, sit amet feugiat nibh. Aenean finibus sit amet magna eget ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris dictum rutrum eros ac tristique.</span>
            </div>
        </div>
    </section>

<!-- Screen du jeu -->
    <section id="screen" class="screen bg-primary text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>SCREENSHOTS</h2>
                <!--<p>Our app is available on any mobile device! Download now to get started!</p>
                <div class="badges">
                    <a class="badge-link" href="#"><img src="static/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="static/img/app-store-badge.svg" alt=""></a>
                </div>-->
            </div>
            <div class="col-md-10 col-md-offset-1">
                <img src="static/img/demo-screen-1.jpg" alt="">
                <img src="static/img/demo-screen-1.jpg" alt="">
                <img src="static/img/demo-screen-1.jpg" alt="">
            </div>
        </div>
    </section>

<!-- Download jeu -->
    <section id="download" class="download text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>TELECHARGEMENT</h2>
                <p> Le téléchargement est gratuit et sûr n'est pas peur si ton anti-virus le refuse, désactive le, installe le jeu puis remet le et tout se passera bien ! </p>
                <div class="badges">
                    <a class="badge-link" href="#"><img src="static/img/dl-jeu.svg.png" height="300px" width="300px" alt=""></a>
                    <!--<a class="badge-link" href="#"><img src="static/img/app-store-badge.svg" alt=""></a>-->
                </div>
            </div>
        </div>
        
    </section>
<!-- Contact (résaux sociaux, mail, etc) -->
    <footer>
        <div class="container">
            <p>&copy; 2017 CRpg, Tout droits réservés.</p>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

</body>

</html>